@font-face {
    font-family: 'Agrandir';
    src: url('Agrandir-Regular.woff2') format('woff2'),
        url('Agrandir-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Agrandir';
    src: url('Agrandir-Regular.woff2') format('woff2'),
        url('Agrandir-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Agrandir';
    src: url('Agrandir-Regular.woff2') format('woff2'),
        url('Agrandir-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Agrandir';
    src: url('Agrandir-Regular.woff2') format('woff2'),
        url('Agrandir-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Agrandir';
    src: url('Agrandir-Variable.woff2') format('woff2');
    font-weight: 617;
    font-style: normal;
    font-display: swap;
}

