.content-col h2 {
    font-family: 'Agrandir';
    font-weight: 617;
    font-size: 36px;
    line-height: 44px;
    color: var(--blue-700);
    margin-bottom: 32px;
}

.content-col p {
    font-family: 'Object Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.swiper-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: var(--Color-7, #86B9DF);
    opacity: 1;
    border-radius: 50%;
    transition: background 0.3s, transform 0.3s;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: var(--blue-bird);
}

/* banner hero */
.hero-careers__full--width {
    background: var(--Color-2, #0057C7);

}

.hero-careers__full--width .hero-careers__content {
    width: 100%
}

/* ===========================
   COMMUNITY PROGRAMS
=========================== */
.community-programs {
    overflow: hidden;
}


.community-programs .inner {
    display: grid;
    grid-template-columns: 43.9% 56.1%;
    min-height: 560px;
}

.community-programs .img-col {
    position: relative;
    overflow: hidden;
}

.community-programs .img-col .swiper {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
}

.community-programs .img-col .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.community-programs .content-col {
    background: var(--white);
    position: relative;
    overflow: hidden;
    padding-left: clamp(40px, 5.416vw, 78px);
}

.community-programs .content-col .swiper {
    width: 100%;
    height: 100%;
}

.community-programs .content-col .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.cp-content-item h2,
.cp-content-item p {
    max-width: 600px;
    width: 100%;
}

.community-programs .content-col .tag {
    display: inline-block;
    background: var(--blue-100);
    color: var(--blue-bird);
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 4px 10px;
    border-radius: 40px;
    margin-bottom: 14px;
}

.community-programs .swiper-pagination {
    position: absolute;
    bottom: 75px;
    left: -4px;
    display: flex;
    gap: 4px;
    justify-content: flex-start;
}



.community-programs .btn-group {
    display: flex;
    gap: 10px;
    margin-top: 32px;
}

/* ===========================
   FEATURED IMPACT
=========================== */
.featured-impact {
    background: var(--Color-7, #86B9DF);
    padding: 17px 0px 18px;
}

.featured-impact .container {
    padding: 0 29px;
}

.featured-impact .inner {
    display: grid;
    grid-template-columns: 1fr clamp(324px, 42.291vw, 609px);
    min-height: 456px;
    background: #FFFBF9;
    border-radius: 12px;
}

.featured-impact .content-col {
    padding-left: clamp(36px, 4.652vw, 67px);
    padding-right: clamp(49px, 6.388vw, 92px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featured-impact .eyebrow {
    font-family: 'Object Sans';
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--soaring-orange);
    margin-bottom: 22px;
}

.featured-impact .content-col h2 {
    margin-bottom: 22px;
}

.featured-impact .img-col {
    position: relative;
    overflow: hidden;
}

.featured-impact .img-col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

/* ===========================
   EDUCATIONAL GRANTS
=========================== */
.edu-grants {
    background: var(--blue-700);
    padding: 0;
}

.edu-grants .inner {
    display: grid;
    grid-template-columns: 1fr clamp(340px, 44.236vw, 637px);
    min-height: 410px;
}

.edu-grants .content-col {
    padding-left: clamp(40px, 5.555vw, 80px);
    padding-right: clamp(50px, 7.152vw, 103px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 1;
}

.edu-grants h2 {
    color: var(--Beige, #FFFBF9);
}

.edu-grants p {
    color: var(--Beige, #FFFBF9);
}

.edu-grants .img-col {
    position: relative;
    overflow: hidden;
    order: 2;
}

.edu-grants .img-col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ===========================
   GIVING BACK GALLERY
=========================== */
.giving-back {
    padding: 50px 0 30px;
    background: var(--Color-8, #CBE0F2);

}

.gallery-swiper {
    padding-bottom: 45px;
}

.giving-back h2 {
    font-family: 'Agrandir';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: var(--blue-bird);
    padding-left: 102px;

    margin-bottom: 23px;
}

.gallery-item {
    border-radius: 8px;
    overflow: hidden;
    background: var(--blue-100);
    aspect-ratio: 1/1;
    max-width: 370px;
    width: 100%;
    position: relative;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.swiper-pagination-gallery {
    position: absolute;
}

/* placeholder for missing images */


/* ===========================
   DONATIONS
=========================== */
.donations {
    padding: 57px 0 67px;
    background: var(--blue-bird);
}

.donations-container {
    padding-left: 110px;
    padding-right: 134px;
}

.donations h2 {
    font-family: 'Agrandir';
    font-weight: 617;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 17px;
    color: #FFFBF9;
}

.donations .subtitle {
    color: #FFFBF9;
    font-family: 'Object Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 36px;
    max-width: 983px;
    width: 100%;
}

.donations-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    /* margin-left: 12px; */
}

.donations-col ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.donations-col ul li {
    position: relative;
    padding-left: 14px;
    color: #FFFBF9;
    font-family: 'Object Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.donations-col ul li::before {
    content: '.';
    position: absolute;
    left: 0;
    color: #FFFBF9;
    font-weight: 700;
    font-size: 10px;
    /* left: -8px; */
    top: 0px;
    line-height: 1.3;
}

/* ===========================
   RESPONSIVE
=========================== */
@media (max-width: 1200px) {

    .community-programs .inner,
    .featured-impact .inner,
    .edu-grants .inner {
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width: 1024px) {
    .content-col h2 {
        font-size: 30px;
        line-height: 38px;
        margin-bottom: 17px;
    }

    .content-col p {
        font-size: 16px;
        line-height: 22px;
    }

    .community-programs .content-col {
        padding-left: 30px;
    }

    .donations-container {
        padding: 0 30px;
    }

    .edu-grants .content-col,
    .featured-impact .content-col {
        padding-left: 40px;
        padding-right: 20px;
    }
}

@media (max-width: 767px) {
    .content-col h2 {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 17px;
    }

    .community-programs .btn-group {
        margin-top: 0px;
    }

    .community-programs .content-col .swiper-slide {
        justify-content: flex-start;
        padding-bottom: 22px;
    }

    .community-programs .content-col .swiper-slide p {
        margin-bottom: 26px;
    }

    .community-programs .swiper-pagination {
        bottom: 0px;
    }

    .community-programs .inner,
    .featured-impact .inner,
    .edu-grants .inner {
        grid-template-columns: 1fr;
        gap: 26px;
    }

    .community-programs .content-col {
        padding: 0 37px;
        padding-bottom: 37px;
    }

    .featured-impact {
        padding: 23px 16px 25px 16px;
    }

    .featured-impact .content-col {
        padding: 42px 30px 0px 30px;
    }

    .featured-impact .content-col h2 {
        margin-bottom: 14px;
    }

    .featured-impact .img-col img {
        border-radius: 0px 0px 20px 20px;
    }

    .featured-impact .inner {
        border-radius: 20px;
    }

    .edu-grants .content-col {
        padding: 35px 33px 14px 30px;
    }

    .edu-grants h2 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 17px;
    }

    .edu-grants p {
        font-size: 14px;
        line-height: 20px;

    }

    .community-programs .img-col {
        min-height: 264px;
    }

    .featured-impact .img-col {
        min-height: 242px;
    }

    .edu-grants .img-col {
        min-height: 277px;
    }

    .giving-back {
        padding-top: 34px;
        padding-bottom: 14px;
    }

    .giving-back h2 {
        text-align: center;
        padding-left: 0px;
        font-size: 30px;
        line-height: 38px;
        margin-bottom: 16px;
    }

    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .donations-grid {
        grid-template-columns: 1fr;
        gap: 0px;
    }

    .donations {
        padding-top: 45px;
    }

    .donations .subtitle {
        margin-bottom: 18px;
    }

    .donations h2 {
        font-size: 30px;
        line-height: 38px;
        margin-bottom: 5px;
    }

    .donations .subtitle {
        font-size: 16px;
        line-height: 22px;
    }

    .donations-col ul {
        gap: 0px;
    }

    .donations-col ul li {
        font-size: 12px;
        line-height: 18px;
        padding-left: 10px;
    }
}